

body {
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
}
html, body  {
  height: 100%
}
.container {
  width: 70%;
}

.ball {
  position: absolute;
  margin-left: 2rem;
  z-index: -1;
  margin-top: -8rem;
  height: 100px;
}
.icon {
  position: relative;
  height: 50px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}



.header {
  background: url('../img/bg-banner03.jpg') no-repeat fixed;
  background-size: cover;
  background-position: 0 0rem;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

.navbar-brand {
  font-size: 36px;
  font-family: 'Satisfy', cursive;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav>li>a {
  font-size: 30px;
  font-family: 'Satisfy', cursive;
  padding-left: 2rem;
  font-weight: 400;
  color: #fff;
  outline: none;
}
.input-group {
  width: 100%;
  position: relative;
  display: flex;
}

.input-group-append{
  position: relative;
  color: black;
  display: inline-block;
}

.input-group-append button {
  height: 60px;
  width: 150px;
  font-size: 1.6em;
  background-color: #fff;
  border: #fff;
  font-family: 'Satisfy', cursive;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fffde0;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #ffffff;
  background-color: transparent;
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(0, 67, 135, 0.605);
	}
}


.top-nav-collapse {
  padding: 1rem 0;
  background: rgba(0, 91, 182, 0.7);
}
.top-nav-collapse>.container>.navbar-brand {
  padding: 2rem 0;
  margin-left: 0px;
}

.bg-color {
  background-color: RGBA(0, 0, 0, 0.67);
  min-height: 100vh;
}


.overlay-detail {
  margin: 0 auto;
  display: inherit;
  position: relative;
}
.explore{
  font-family: 'Satisfy', cursive;
  color: white;
  position: relative;
  margin-top: 30rem;
  font-size: 28px;
  text-align: center;
  line-height: 15px;
  margin-bottom: 1rem;
}

.overlay-detail a i {
  text-align: center;
  position: static;
  margin-top: 0;
  bottom: -140px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;
  left: -10px;
}
.banner-search {
  padding:0;
  color: #fff;
  margin-top: 30vh;
}

.navbar-collapse{
    min-height: 80px;
}

.navbar-collapse ul {
  margin-top: 1.5rem;

}

.search-bar {
  height: 60px;
  font-size: 20px;
  width: 60%;
}


.banner-search h2{
  font-family: 'Satisfy', cursive;
  margin-top: 5px;
  font-size: 36px;
}

.section-padding {
  padding: 100px 0px;
}

#listing {
  background-color: #f0f1e9;
}

.grid-padding {
  padding: 0 8px;
}

.grid-padding img {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

#myGrid {
  margin-top: 50px;
}
footer {
  padding: 40px 0;
  background: #F2F3EB;
}

.footer a {
  color: #BE2525;
}



