/* eslint-disable no-undef */
<template>
  <div>
    <div class="header">
      <div class="bg-color">
        <header id="main-header">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img
                  class="icon pl-5"
                  src="../assets/poke.png"
                  alt="mdb logo"
                />
                <img
                  class="ball"
                  src="https://img.icons8.com/color/48/000000/pokeball-2.png"
                />
              </a>
              <div class="collapse navbar-collapse" id="lauraMenu">
                <ul class="nav navbar-nav navbar-right navbar-border">
                  <li>
                    <a href="#listing">List</a>
                  </li>
                  <li class="active">
                    <a href="#main-header">Search</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
        <div class="wrapper" id="landing">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="banner-search">
                  <h2>Find your favourite pokemon.</h2>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control search-bar"
                      placeholder="Search... "
                      v-model="search"
                      aria-label="Recipient's username"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <a v-on:click="postData()" href="#result">
                        <button class="btn btn-outline-secondary" type="button">
                          Search
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="overlay-detail text-center">
                  <p class="explore">Explore</p>
                  <a href="#listing">
                    <i class="fa fa-angle-down"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="listing" class="section-padding wow fadeInUp delay-0.5s">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-center">List</h2>
          </div>
          <div class="col-md-12">
            <!-- <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Filter: Type</h3>
              </div>
              <div class="panel-body">
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="grass"
                        v-model="selectedPokemonTypes"
                      />Grass
                    </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="poison"
                        v-model="selectedPokemonTypes"
                      />Poison
                    </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="fire"
                        v-model="selectedPokemonTypes"
                      />Fire
                    </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="flying"
                        v-model="selectedPokemonTypes"
                      />Flying
                    </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="water"
                        v-model="selectedPokemonTypes"
                      />Water
                    </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="bug"
                        v-model="selectedPokemonTypes"
                      />Bug
                    </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="normal"
                        v-model="selectedPokemonTypes"
                      />Normal
                    </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        value="electric"
                        v-model="selectedPokemonTypes"
                      />Electric
                    </label>
                  </div>
                </div>
            </div>-->
            <!-- </div> -->
          </div>
          <div class="filtertypes" v-if="selectedPokemonTypes.length">
            <p>You have selected type:</p>
            <ul>
              <li v-for="each in selectedPokemonTypes" :key="each.value">
                {{ each }}
              </li>
            </ul>
          </div>
          <div class="col-md-12">
            <ul class="image-grid">
              <div
                @click="popup(item)"
                v-for="item in details"
                :key="item.name"
                class="image-card wow fadeInUp delay-05s"
              >
                <img
                  class="image-card__image img-responsive"
                  :src="item.sprites.front_default"
                  :alt="item.name"
                  id="image"
                />
                <h3 id="name">{{ item.name }}</h3>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="result" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-center resultText">Search Result</h2>
          </div>
          <div class="col-md-12">
            <loading :active.sync="visible" :can-cancel="true"></loading>
            <div v-if="result.length == 0">
              <h4>No result</h4>
            </div>
            <div v-else>
              <ul class="image-grid">
                <div
                  @click="popup(result)"
                  :key="result.name"
                  class="Search-image-card"
                >
                  <img
                    class="image-card__image img-responsive"
                    :src="result.sprites.front_default"
                    :alt="result.name"
                    id="image"
                  />
                  <h3 id="name">{{ result.name }}</h3>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <pop :show="show" :image="pokeImage" />
  </div>
</template>
<script>
import axios from "axios";
import loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import pop from "./popup";
export default {
  data() {
    return {
      cards: [],
      details: [],
      page: [],
      show: [],
      pokeImage: "",
      search: "",
      result: [],
      visible: false,
      selectedPokemonTypes: [],
      filteredx: []
    };
  },
  components: { pop, loading },
  computed: {
    filteredPoke() {
      return this.details.filter(pokemon => {
        return (
          pokemon.types.filter(type => {
            return this.selectedPokemonTypes.indexOf(type.type.name) !== -1;
          }).length > 0
        );
      });
    }
  },
  mounted() {
    axios
      .get("https://pokeapi.co/api/v2/pokemon?offset=1&limit=100", {
        headers: {
          "Content-Type": "application/json"
        }
      })
      .then(response => {
        this.cards = response.data.results;
        this.page = response.data;
        return response.data;
      })
      .then(pokemon => {
        pokemon.results.forEach(guy => this.getDetails(guy));
      })
      .catch(error => {
        console.log(error);
      });
  },

  methods: {
    getDetails(guy) {
      let url = guy.url;
      axios.get(url).then(response => {
        // console.log(response.data.id);
        this.details.push(response.data);
      });
    },
    popup(item) {
      this.show = item;
      this.getImage(item.sprites.other['official-artwork'].front_default);
    },
    getImage(url) {
      console.log(url)
      this.pokeImage = `<img class="setImage" style="width: 100% ; padding: 2rem 0 0 0;" src=${url} />`;
      this.$root.$emit("showPop");
    },
    postData() {
      this.visible = true;
      setTimeout(() => {
        this.visible = false;
      }, 1000);
      console.log(this.search);
      let url = `https://pokeapi.co/api/v2/pokemon/${this.search}`;
      axios
        .get(url, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          this.result = response.data;
          console.log(this.result.sprites.front_default);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
<style scoped>
.image-grid {
  list-style: none;
  margin-top: 5rem;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.image-card {
  width: calc(25% - 2rem);
  margin: 2rem 1rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background: white;
  text-align: center;
}
.Search-image-card {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background: white;
  text-align: center;
}
.image-card:hover {
  border: 1px solid red;
  cursor: pointer;
}
.Search-image-card:hover {
  border: 1px solid red;
  cursor: pointer;
}

.image-card__image {
  border-radius: 5px 5px 0 0;
  width: calc(100%);
  height: 140px;
  object-fit: contain;
}
.title {
  margin-bottom: 5.5rem;
  font-size: 40px;
  font-family: "Satisfy", cursive;
}
#image {
  width: 300px;
  height: 150px;
  display: unset;
}
.col-md-12 {
  text-align: center;
}
#next {
  height: 50px;
  width: 80px;
  margin-top: 5rem;
}
.next {
  background-color: rgb(3, 0, 99);
  color: rgb(255, 255, 255);
}
#name {
  text-transform: capitalize;
}
#result {
  min-height: 100vh;
}
.col-md-1 {
  width: 12.5%;
}
.panel-body {
  height: 80px;
  font-size: 18px;
}
.panel-heading {
  height: 50px;
}
.panel-title {
  font-size: 22px;
}
input [type="checkbox"],
.checkbox {
  transform: scale(1.2);
  width: 30px;
  height: 30px;
}
.filtertypes > ul > li {
  display: inline-block !important;
  margin-right: 1rem;
}
.resultText {
  margin-bottom: 20rem;
}
</style>
