<template>
  <div>
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
      <div class="modal-dialog modal-center modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <loading :active.sync="visible" :can-cancel="true"></loading>
          <div class="modal-body">
            <div class="row">
              <div class="col column">
                <h6>{{ show.name }}</h6>

                <div class="box " v-html="image"></div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4>Type:</h4>
                <div v-for="each in show.types" :key="each.name">
                  <p>{{ each.type.name }}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <h3>Stats</h3>
            </div>
            <hr />
            <br />
            <div class="row">
              <div class="col-3">
                <h4>Weight</h4>
              </div>
              <div class="col-3">
                <h4>Height</h4>
              </div>
              <div class="col-3">
                <h4>Experience</h4>
              </div>
              <div class="col-3">
                <h4>Ability</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p>{{ show.weight / 10 }}kg</p>
              </div>
              <div class="col-3">
                <p>{{ show.height / 10 }}m</p>
              </div>
              <div class="col-3">
                <p>{{ show.base_experience }}</p>
              </div>
              <div class="col-3">
                <div v-for="each in show.abilities" :key="each.name">
                  <p>{{ each.ability.name }}</p>
                </div>
              </div>
            </div>
            <br />
            <br />
            <div class="special">
              <div class="row">
                <h3>Warfare Abilities</h3>
                <hr />
              </div>
              <div v-for="item in show.stats" :key="item.stat.name">
                <div class="row">
                  <div class="align">
                    <h4>{{ item.stat.name }}:</h4>
                    <p>{{ item.base_stat }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  data () {
    return {
      visible: false
    };
  },
  props: ["show", "image"],
  components: { loading },
  created () {
    this.$root.$on("showPop", this.showmodal);
    // document.getElementById("pokeImage").setAttributesrc = this.image;
    // this.image(this.show.id);
  },
  mounted () {
    // document.getElementById("pokeImage").setsrc = this.image;
  },
  methods: {
    showmodal () {
      this.open();
      // eslint-disable-next-line no-undef
      $("#myModal").modal("show");
    },
    open () {
      this.visible = true;
      setTimeout(() => {
        this.visible = false;
      }, 500);
    }
    // image(id)
    //   let pokeImage = document.createElement("img");
    //   pokeImage.srcset = `https://pokeres.bastionbot.org/images/pokemon/${id}.png`;
    //   document.getElementById("imageDiv").append(pokeImage);
    // }
  }
};
</script>
<style scoped>
.modal-dialog {
  min-width: 1200px !important;
  max-height: 500px !important;
}

h6 {
  font-weight: 800;
  text-align: center;
  background-color: rgb(255, 255, 255);
  line-height: 2rem;
  font-size: 35px;
  text-transform: capitalize;
}
.column {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.data {
  padding-top: 1rem;
}
.data-col {
  padding: 8px;
  font-size: 15px;
  font-weight: 400;
}
.box {
  width: 300px;
  height: 300px;
  align-content: center;
  text-align: center;
  margin: 2rem auto;
  border: 1px solid rgb(45, 45, 45);
  border-radius: 9px;
  background-image: linear-gradient(to bottom right, red, yellow);
}

.setImage {
  width: 100%;
  position: relative;
  object-fit: contain;
  margin: 1rem;
}
.row {
  width: 100%;
  margin: 0 auto;
}

.row .col-3 {
  width: 25%;
  float: left;
  text-align: center;
}
.row .col {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

* {
  text-transform: capitalize;
}

.align {
  float: left;
  width: 200px;
  display: flex;
  position: relative;
}

p {
  margin: auto 1rem;
}
</style>
