<template>
  <div id="app">
    <landing />
  </div>
</template>

<script>
// import landing from "./components/landing.vue";
import landing from "./components/landing.vue";

export default {
  name: "app",
  components: {
    landing
  }
};
</script>

<style scoped>
.wow {
  visibility: hidden;
}
</style>
